#checklist{
    display:flex;
    flex-direction: column;
    padding-left: 30px;
}
.checkbox-checked{
    color: hsl(0, 0%, 50%);
    text-decoration: line-through;
    text-decoration-color: black;
}